*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: #1b1b32;
}

.App{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.freeCodeCamp-logo-contenedor  {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
 
}

.freeCodeCampLogo{
  height: 150PX;
}

.contenedor-principal{
  
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}